<!DOCTYPE html>
<html>
<head>
    <title>Alumnat</title>
</head>
<body>
    <h1>INFORMACIÓ ALUMNAT TIC BARCELONA</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>COGNOM</th>
            <th>EMAIL</th>
            <th>CURS</th>
            <th>MÒDULS</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name1 }} {{ student.last_name2 }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.modules }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'index' %}">Tornar</a>
</body>
</html>
