<!DOCTYPE html>
<html>
<head>
    <title>Professorat</title>
</head>
<body>
    <h1>INFORMACIÓ PROFESSORAT TIC BARCELONA</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>COGNOM</th>
            <th>EMAIL</th>
            <th>CURS</th>
            <th>TUTOR</th>
        </tr>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name1 }} {{ teacher.last_name2 }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.courses }}</td>
            <td>{% if teacher.tutor %}Sí{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'index' %}">Tornar</a>
</body>
</html>
